.login {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.container-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(2, 2, 2, 0.591);
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

h1 {
    font-size: 30px;
    color: white;
}